*{
    margin: 0;
    box-sizing: border-box;
}
.Dashboard{
    background-color:rgb(252, 236, 216) ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.title-card{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.date-region{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
.date-region p{
    margin-top: 5px;
    
}
.date p{
    font-weight: 100;
    font-size: small;
}
.main-container{
    background-color: rgb(255, 251, 251);
    height:70%;
    width: 50%;
    padding: 20px;
}
.input-container{
    margin: 10px 0 10px 0; 
}
.inputBox input{
    width: 90%;
    height: 40px;
    margin-right: 2px;
}
.inputBox button{
    width: 9%;
    height: 40px;
    background-color: rgb(93, 93, 242);
    color: aliceblue;
    font-size: larger;
}
.tasks{
    display: flex;
    gap:5px;
    margin : 20px 0 20px 0;
}
.tasks input{
    width: 30px;
    height: 20px;
    border-color: blue;
}
.bending input{
    color: aquamarine;
}

@media screen and (max-width : 700px){
    .main-container{
        background-color: rgb(255, 251, 251);
        height:70%;
        width: 70%;
    }

    .inputBox input{
        width: 80%;
    }
    .inputBox button{
        width: 15%;
    }
}