@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;500;700;800&family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
.Dashboard{
    background-color:rgb(252, 236, 216) ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.title-card{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.date-region{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
.date-region p{
    margin-top: 5px;
    
}
.date p{
    font-weight: 100;
    font-size: small;
}
.main-container{
    background-color: rgb(255, 251, 251);
    height:70%;
    width: 40%;
    padding: 20px;
}
.input-container{
    margin: 10px 0 10px 0; 
}
.inputBox input{
    width: 90%;
    height: 40px;
    margin-right: 2px;
    font-weight: 600;
    text-align: left;
    letter-spacing: 1px;
    cursor: pointer;
    padding-left: 15px;
}
.inputBox button{
    width: 9%;
    height: 40px;
    background-color: rgb(93, 93, 242);
    color: aliceblue;
    font-size: larger;
}

@media screen and (max-width : 700px){
    .main-container{
        background-color: rgb(255, 251, 251);
        height:70%;
        width: 70%;
    }
    .inputBox input{
        width: 80%;
    }
    .inputBox button{
        width: 15%;
    }
}