.tasks{
    display: flex;
    gap:5px;
    margin : 20px 0 20px 0;
    width:75%;
}
.icons{
   
    display: flex;
    gap:8px;
    align-items: center;
    width: 20%;
    font-size: larger;
}
.task-container-2{
    display: flex;
    gap:35px
    /* justify-content: space-around; */
}
.tasks input{
    width: 30px;
    height: 20px;
}

hr{
    color:rgb(255, 255, 255);
}
